<!DOCTYPE html>
  <head>
    <title>Home</title>
    <link rel = 'stylesheet' href = '/stylesheets/style.css'>
    <style>
      #content{
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <% include /JX/CS/research-portal-2/views/partials/header.ejs %>
    <div id = "content">
      <h1>Project Allocation Started</h1>
    </div>
  </body>
</html>
