<!DOCTYPE html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100,400" rel="stylesheet">
		<title>Research Portal</title>
		<style>
			body{
				margin: 0;
				overflow-x: hidden;
			}
			#slantDiv{
				position: absolute;
				left: -10vw;
				top: -10vh;
				width: 140vw;
				height: 80vh;
				background-color: rgb(0, 156, 157);
				padding: 0;
				transform: rotate(-3deg);
			}
			#content{
				transform: rotate(3deg);
				position: absolute;
				color: white;
				top: 10vh;
				left: 15vw;
			}
			h1{
				font-size: 5em;
				font-family: 'Raleway';
				font-weight: 100;
				padding-bottom: none;
				margin-bottom: 0;
			}
			p{
				font-family: 'Open Sans';
			}
			a{
				position: absolute;
				left: 75vw;
				top: 80vh;
				font-family: 'Raleway';
				font-size: 2em;
				color: rgb(0, 156, 157);
				border: solid;
				padding: 3px 40px;
				border-radius: 10px;
				text-decoration: none;
				cursor: pointer;
			}
			a:hover{
				background-color: rgb(0, 156, 157);
				color: white;
			}
		</style>
	</head>
	<body>
		<div id = "slantDiv">
			<div id = "content">
				<h1>Research @ NUS High</h1>
				<p>
					Integrated Project Management System
					(In Progress. Any ideas what nice designs to put on this page?)<br/>
					Because we all know espace sucks
					I LOVE BURDEN BEARRRARRRRRRR
				</p>
			</div>
		</div>
		<a href = "/login">Login</a>
	</body>
</html>
