<!DOCTYPE html>
  <head>
    <link rel = 'stylesheet' href = '/stylesheets/style.css'>
    <link rel = 'stylesheet' href = '/stylesheets/rieprojAlloc.css'>
    <title>All projects</title>
  </head>
  <body>
    <% include /JX/CS/research-portal-2/views/partials/header.ejs %>
    <div id = "content">
      <h1>Project Allocation Management</h1>
      <div class = "projDiv">
        <h1>Add Projects to be Allocated</h1>
        <p class = "instructions">
          Download template, and fill in project details, and upload the filled template
        </p>
        <div>
          <h3 class = "filename">projectAllocationTemplate.xlsx</h3>
          &emsp;
          <button><a>Download</a></button>
        </div>
      </div>
    </div>
  </body>
