<!DOCTYPE html>
  <head>
    <link rel = 'stylesheet' href = '/stylesheets/style.css'>
    <link rel = 'stylesheet' href = '/stylesheets/rieprojAlloc.css'>
    <title>All projects</title>
  </head>
  <body>
  <% include ./partials/header.ejs %>
    <div id = "content">
      <h1>Project Allocation Management</h1>
      <div class = "projDiv">
        <h1>Add Projects to be Allocated</h1>
        <p class = "instructions">
          Download template, and fill in project details, and upload the filled template
        </p>
        <div class = "action">
          <h3>Download Project Template:</h3>
          <a href = "/rie/dlAllocTemp"><i class="material-icons">file_download</i>projectAllocationTemplate.xlsx</a>
        </div>
        <div class = "action">
          <h3>Upload Project List: &ensp;</h3>
          <form action="/rie/ulProjAlloc" enctype="multipart/form-data" method="post">
            <input style = "font-family = 'Open Sans'; color: rgb(0, 156, 157);" type="file" name="upload" multiple id = "fuoP">
            <input type = "submit" value = "Upload">
          </form>
        </div>
      </div>
    </div>
  </body>
